{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine":"auto",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true
}
